.form-control-lg {
   font-size: 26px!important;
   width: 100%;
   padding: 10px;
   margin: 20px 0 10px;
}

.form-control input {
   background: white;
   border: 1px solid white;
   padding: 10px;
}

.form-control,
.chosen-container,
label {
   font-size: 18px!important;
   color: #be2c00; 
}

#api_status {
   padding: 20px;
   color: white;
   margin-top: 10px;
   margin-bottom: -30px;
   font-weight: bold;
   font-size: 1.2em
}

#api_status a {
   color: white;
   text-decoration: underline
}


#api_result {
   background-color: #fff!important;
   padding: 20px!important;
   font-size: 16px!important;
   margin: 30px 0!important;
   border: 0!important;
   color: #be2c00
}

#api_result h2,
#api_result h3,
#api_result p,
#api_result li,
#api_result td {
   color: #be2c00!blackimportant
}

#api_result a {
   font-size: 0.8em;
   color: #be2c00;
   padding: 0 10px;
   text-decoration: underline
}

.btn--api {
	color: #be2c00!important;
}

.imessage {
   box-shadow: 0px 0px 9px 3px rgba(95, 95, 95, 0.9);
   padding: 10px;
   margin: 20px 0
}

.val_count_Violation,
.val_count_Warning {
   color: white;
   font-weight: bold;
   border: 1px solid white;
   border-radius: 4px;
   padding: 3px 5px;
   margin-right: 10px;
   font-size: 0.7em
}

.val_count_Violation {
   background-color: red
}

.val_count_Warning {
   background-color: orange
}

#api_source {
   display: none;
   font-size: 0.8em;
   font-family: monospace!important;
   background-color: #fff!important;
   padding: 20px!important;
   margin: 20px 0!important;
   border: 0!important;
   color: #0a3dfa;
}

textarea {
   font-family: monospace!important;
   background-color: #328275!important;
   padding: 20px!important;
   font-size: 16px!important;
   margin: 20px 0!important;
   border: 0!important;
   color: #fff!important;
}

label {
   font-weight: bold;
   margin-right: 10px;
   display: inline-block;
   font-size: 18px!important;
   opacity: 1!important;
}

label a {
   font-size: 18px!important;
}

.vcard {
   background-color: #fafafa
}

.distribution,
.distribution_first {
   background-color: #d7eefa
}

.distribution_first {
   border-top: 2px solid #555
}

th {
   text-align: left;
   width: 20%
}

select {
   border: 1px solid #ced4da;
   margin: 5px 0;
   border-radius: .25rem;
}

pre {
   display: block;
   font-size: 87.5%;
   color: #fff;
   background-color: #d7eefa;
   padding: 30px;
   width: 100%;
   margin: 32px 0;
}

.row {
   display: block;
   flex-wrap: none;
}

.tooltip.show {
   opacity: 1;
   font-size: 1rem;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tooltip-inner {
   background-color: #d7eefa;
   color: #fff;
   border: 1px solid #fff;
   max-width: 400px;
   white-space: wrap;
   -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
   margin: 0;
   padding: 10px;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
   border-bottom-color: #d7eefa !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
   border-top-color: #d7eefa !important;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
   border-left-color: #d7eefa !important;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
   border-right-color: #d7eefa !important;
}

#result {
   display: none
}

#dataset_form a {
   color: #007bff
}

textarea {
   overflow: auto;
   resize: vertical;
   font-family: monospace;
   width: 100%;
   height: 500px;
   font-size: 0.8em;
   background-color: #eee;
   padding: 5px;
   margin: 10px 0;
}

.tab-content,
.nav {
   width: 100%
}

.nav-tabs {
   font-size: 20px;
   margin-bottom: 20px!important;
   border-bottom: 1px solid #adbffc!important;
}

.nav-tabs .nav-link, table a {
    color: #be2c00;
}

