/* minify via https://www.toptal.com/developers/cssminifier */
body {
	font-size: 1rem;
	line-height: 1.5;
	font-family:Roboto,Helvetica,Arial,sans-serif!important;
}
.form-control-lg {
     font-size: 26px!important;
     width: 100%;
     padding: 10px;
     margin: 20px 0 10px;
}
 .form-control input {
     background: white;
     border: 1px solid white;
     padding: 10px;
}
 .form-control, .chosen-container, label {
     font-size: 18px!important;
     color: #be2c00;
}
 #api_status {
     padding:20px;
     color:white;
     margin-top:10px;
     margin-bottom:-30px;
     font-weight:bold;
     font-size:1.5em 
}
 #api_status a {
     color: white;
     text-decoration: underline 
}
 #api_result {
     background-color: #fff!important;
     padding: 20px!important;
     font-size: 16px!important;
     margin: 30px 0!important;
     border: 0!important;
     color: #be2c00 
}
 #api_result h2, #api_result h3, #api_result p, #api_result li, #api_result td {
     color: #be2c00!important
}
 #api_result a {
     font-size: 0.8em;
     color: #be2c00;
     padding: 0 10px;
     text-decoration: underline 
}
 .btn--api {
     color: #be2c00!important;
}
 .btn {
	 cursor: pointer
}
 .imessage {
     box-shadow: 0px 0px 9px 3px rgba(95, 95, 95, 0.9);
     padding: 10px;
     margin: 20px 0 
}
 .val_count_Violation, .val_count_Warning, .val_count_Info {
     color: white;
     font-weight: bold;
     border: 1px solid white;
     border-radius: 4px;
     padding: 3px 5px;
     margin-right: 10px;
     font-size: 0.7em 
}
 .val_count_Violation {
     background-color: red 
}
 .val_count_Warning {
     background-color: orange 
}
 .val_count_Info {
     background-color: #5cb85c 
}
 #api_source {
     display: none;
     font-size: 0.8em;
     font-family: monospace!important;
     background-color: #fff!important;
     padding: 20px!important;
     margin: 20px 0!important;
     border: 0!important;
     color: #0a3dfa;
}
 label {
     font-weight: bold;
     margin-right: 10px;
     display: inline-block;
     font-size: 18px!important;
     opacity: 1!important;
}
 label a {
     font-size: 18px!important;
}
 .vcard {
     background-color: #fafafa 
}
 .distribution_first {
     border-top: 4px solid #be2c00 
}
 th {
     text-align: left;
     width: 20% 
}
 select {
     border: 1px solid #ced4da;
     margin: 5px 0;
     border-radius: .25rem;
}
 pre {
     display: block;
     font-size: 87.5%;
     color: #fff;
     background-color: #d7eefa;
     padding: 30px;
     width: 100%;
     margin: 32px 0;
}
 .row {
     display: block;
     flex-wrap: none;
}
 th > label::after {
  content:" ⓘ";
  color:#555;
  font-size:75%;
}
 .tooltip-inner {
	opacity: 1;
	font-size: 1.5rem;
	background-color: #be2c00;
	color: #fff;
	border: 0;
	padding:10px;
}
 #result {
     display: none 
}
 #dataset_form a {
     color: #007bff 
}
 xmp {
     color: #fff;
     background-color: #172a59;
     margin:10px 0 0 0;
     padding:10px;
     overflow-x: auto;
	 line-height: initial;
}
 .tab-content, .nav {
     width: 100% 
}
 .tab-content {
     font-family: Poppins,Helvetica,Arial,sans-serif;
     font-size: calc(.575vw + .575vh + .575rem);
}
 .nav-tabs {
     font-size: 20px;
     margin-bottom: 20px!important;
     border-bottom: 1px solid #be2c00!important;
}
 .nav-tabs .nav-link.active {
     border-color: #be2c00!important;
}
 a.nav-link:hover {
     border-bottom: 1px solid #be2c00!important;
}
 .nav-tabs .nav-link, table a {
     color: #be2c00;
}
 .table td, .table th {
     border-top:0!important;
}
 .tab-pane {
     padding-bottom:30px;
}

.mobile-hidden {
  display:none;
}
@media only screen and (min-width:42.375em){
  /* body:after{
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: #be2c00;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    transform:rotate(-45deg);
    z-index: 15;
  } */
  .mobile-hidden {
    display:inline;
  }
}
body.home {
	background:url(beeldmerk.jpg) no-repeat center center fixed;
	background-size: cover;
}
.b-homepanel {
	width:60%;
	background-color:#ffffffe5!important;
	box-shadow: 0px 0px 7px #be2c00;
}
@media only screen and (max-width:42.375em){
	.b-homepanel {
		width:90%;
	}
}

/* search */

.column,.column2 {
    float:none;
    width:100%;
    margin:0;
    padding:0;
    border:0;
  }
  .column2 { padding-top:16px }
   .row:after {
    content:"";
    display:table;
    clear:both;
  }
  @media only screen and (min-width:1008px){
    .column {
      float:left;
      width:57%;
      margin-right:2% 
    }
    .column2 {
      float:left;
      width:40%;
      border-left:2px solid white;
      padding-left:20px;
      padding-top:0;
    }
  }
   input[type=search], select {
    width:100%;
    padding:8px;
    margin-top:1px;
  }
   .linkprop span {
    cursor:pointer;
    text-decoration:underline;
  }
   .choices {
    text-align:center;
  }
   .choices a {
    font-size:0.8em;
    font-weight:400;
  }
  
  @media only screen and (min-width:42.375em){
    .scroll{
      overflow-x: auto;
      white-space: nowrap;
    }
    .scroll table {
      white-space: nowrap;
    }
  }
  .props {
    border-left:3px solid #be2c00;
    border-spacing:5px;
    border-collapse:unset;
    background-color:#fff4ef;
  }
   .props th, .props td {
    vertical-align:top;
      white-space:normal;
  }
   .formatcheckboxes {
    background-color:#fff4ef;
    border:3px solid #fff;
    height:112px; /* was met doorzoek checkbox zichtbaar 192px; */
    overflow-y:auto;
    overflow-x:hidden;
    padding:5px;
    margin:1px;
  }
   ol li {
    font-size:1em !important 
  }
   label {
    font-weight:100!important;
    color:#172a70!important;
    display:inline-block;
    margin-right:2em;
  }
  .formatcheckboxes label {
      display:block;
  }
   .search-div {
    padding:16px;
    margin:32px 0;
  }
   #searchresults {
    margin-top:50px;
  }
  #dataset_description {
      font-size: 1.6em;margin:32px 0
  }
  #dataset_description a {
      text-decoration:underline;
  }
  
  .close-uri, .link-uri { 
      float:right;
      cursor:pointer;
      color:white!important;
      display:inline;
      padding:10px;
      line-height:1em;
      text-decoration:none!important;
  }
  
  .star {
      text-decoration: none!important;
  }
  
  .props th, .props td {
      overflow-wrap: anywhere;
      padding: 3px 6px;
  }
  .props th {
      text-align:right;
  }
  
  #starex {
      margin-bottom:0;
      display:none;
  }
  
  #starex p {
      text-align:center;
      padding:1em
  }
  
  #sparql-query {
      font-size:14px;
      text-align:left
  }
  
  .xmllang { 
      display:inline-block;
      color:white;
      width:18px;
      text-align:center;
      font-weight:normal;
      vertical-align: super;
      font-size:0.6em;
      padding:3px;
      line-height:1em;
      background-color:#be2c00
  }
  
  h3 {
      text-overflow:ellipsis;
      overflow:hidden
  }
  
  #stars {
      float:right
  }
  
  #stars_ok {
      color: #be2c00;
  }
  
  #stars_not {
      color:#faebe5
  }
  .lds-ellipsis {
    display: none;
    position: relative;
    width: 80px;
    height: 20px;
  }
  .lds-ellipsis div {
    position: absolute;
    width: 10px;
    height: 10px;
    top:10px;
    margin-left:20px;
    border-radius: 50%;
    background: #c44018;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
#facet_block {	
	display: none;
    background-color: #f4e6e2;
    padding: 5px 10px;
	margin-bottom:32px;
}
#facets { columns: 3 }

#facet_block, #facet_block label {
	font-size:1.5rem!important;
}
