name: Build app and update Docker image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set variables
        id: vars
        run: |
          echo "docker_image_php_fpm=ghcr.io/${{ github.repository }}-php-fpm" >> $GITHUB_OUTPUT
          echo "docker_image_nginx=ghcr.io/${{ github.repository }}-nginx" >> $GITHUB_OUTPUT
          echo "build_tag=$(git show -s --format=%cd-%h --date=format:%Y%m%d%H%M%S)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CONTAINER_REGISTRY_TOKEN }}

      - name: Build and push image to registry
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/nginx/Dockerfile
          push: true
          tags: |
            ${{ steps.vars.outputs.docker_image_nginx }}:${{ steps.vars.outputs.build_tag }}
            ${{ steps.vars.outputs.docker_image_nginx }}:latest

      - name: Build and push image to registry
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/php-fpm/Dockerfile
          push: true
          tags: |
            ${{ steps.vars.outputs.docker_image_php_fpm }}:${{ steps.vars.outputs.build_tag }}
            ${{ steps.vars.outputs.docker_image_php_fpm }}:latest
